.home {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  margin-top: 30px;
  max-width: 975px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .content {
    display: block;
  }
}

.writeComment {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.item {
  margin: 0;
  padding: 0;
}
.item:not(:nth-last-of-type(2))::after {
  content: "\00B7";
  margin: 0 0.25em 0 0.25em;
  color: #c7c7c7;
}

.link,
.btn {
  color: #c7c7c7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: none;
  text-decoration: none;
}

.btn {
  background: inherit;
  border: none;
  padding: 0;
}

.item:last-child {
  display: block;
  width: 100%;
}

.copyright {
  margin: 0;
  margin-top: 16px;
  color: #c7c7c7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}
