.home {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  margin-top: 90px;
  max-width: 975px;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .content {
    display: block;
  }
}

.writeComment {
  display: flex;
  justify-content: space-between;
}
