.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog {
  width: auto;
  max-height: 400px;
  min-height: 200px;
  background: white;
  position: relative;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
  height: 43px;
}
.close {
  cursor: pointer;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.body {
  overflow: auto;
}
.content {
  padding: 1rem;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}
