.search {
  height: 36px;
  position: relative;
}
.label {
  display: block;
  border-radius: 8px;
  height: 36px;
  line-height: 30px;
  min-width: 125px;
  width: 268px;
  background: #efefef;
  font-size: 16px;
  cursor: text;
  padding: 3px 16px;
  color: #555555;
}

.input {
  display: block;
  height: 36px;
  min-width: 125px;
  width: 268px;
  background: #efefef;
  font-size: 16px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
}
.input:focus {
  outline: none;
}
.img {
  margin-right: 12px;
}
