.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 975px;
  justify-content: space-between;
  padding: 0 20px 0;
}

.header {
  display: flex;
  min-width: 100%;
  margin-bottom: 44px;
}

.profileInfo {
  margin-bottom: 20px;
}

.nickName {
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
  font-weight: 300;
}
.avatar {
  display: block;
  margin: 0 80px 0 50px;
  height: 150px;
  width: 150px;
}
.btnAvatar {
  padding: 0;
  display: block;

  border: none;
  background: inherit;

  height: 150px;
  width: 150px;
}

.avatarImg {
  border-radius: 50%;
}
.btn {
  background: inherit;
  border: none;
  cursor: pointer;
  padding: 8px;
  margin-left: 5px;
}
.link {
  text-decoration: none;
  color: #262626;
  border: 1px solid #dbdbdb;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  margin-left: 20px;
}

.list {
  margin: 0 0 20px;
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
}
.item {
  margin-right: 40px;
}
.itemLink {
  text-decoration: none;
  color: #262626;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.description {
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
}

.footer {
  margin: 0 auto;
}

.footerList {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(10, auto);
  justify-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.footerItem {
  margin: 0 8px 12px;
}

.footerItem:last-child {
  grid-column-start: 6;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
  margin: 0;
  align-self: baseline;
}

.footerItem:nth-last-child(2) {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: end;
  margin: 0;
  margin-right: 8px;
  align-self: baseline;
}

.footerLink,
.footerBtn {
  color: #c7c7c7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: none;
  text-decoration: none;
}
.footerCopyright {
  margin: 0;
  padding: 0;
  color: #c7c7c7;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

.footerBtn {
  background: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}
